RewriteEngine On

<FilesMatch "\.(css|js|png|jpg|gif|ico|svg|webp|txt)$">
    Require all granted
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]

<Files "index.php">
    Require all granted
</Files>
