<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Если запрашиваемый путь не является реальным файлом или папкой
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Отправляем весь запрос в index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
